################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/VideoDownloader/v15
/packages
/VideoDownloader.App/bin/Debug
/VideoDownloader.App/obj/Debug
